<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CustomPolicies.FxCopDeltaPolicy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CustomPolicies.FxCopDeltaPolicy.Properties.Settings>
            <setting name="FxCopCommandPath" serializeAs="String">
                <value>C:\Program Files\Microsoft Visual Studio 8\Team Tools\Static Analysis Tools\FxCop\FxCopCmd.exe</value>
            </setting>
            <setting name="DisabledRules" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Microsoft.Globalization#CA1300</string>
                        <string>Microsoft.Globalization#CA1301</string>
                        <string>Microsoft.Globalization#CA1302</string>
                        <string>Microsoft.Globalization#CA1303</string>
                        <string>Microsoft.Globalization#CA1304</string>
                        <string>Microsoft.Globalization#CA1305</string>
                        <string>Microsoft.Globalization#CA1306</string>
                        <string>Microsoft.Security#CA2116</string>
                        <string>Microsoft.Security#CA2117</string>
                        <string>Microsoft.Security#CA2105</string>
                        <string>Microsoft.Security#CA2115</string>
                        <string>Microsoft.Security#CA2102</string>
                        <string>Microsoft.Security#CA2104</string>
                        <string>Microsoft.Security#CA2122</string>
                        <string>Microsoft.Security#CA2114</string>
                        <string>Microsoft.Security#CA2123</string>
                        <string>Microsoft.Security#CA2111</string>
                        <string>Microsoft.Security#CA2108</string>
                        <string>Microsoft.Security#CA2107</string>
                        <string>Microsoft.Security#CA2103</string>
                        <string>Microsoft.Security#CA2100</string>
                        <string>Microsoft.Security#CA2118</string>
                        <string>Microsoft.Security#CA2109</string>
                        <string>Microsoft.Security#CA2119</string>
                        <string>Microsoft.Security#CA2106</string>
                        <string>Microsoft.Security#CA2110</string>
                        <string>Microsoft.Security#CA2120</string>
                        <string>Microsoft.Security#CA2112</string>
                        <string>Microsoft.Security#CA2127</string>
                        <string>Microsoft.Security#CA2128</string>
                        <string>Microsoft.Security#CA2129</string>
                        <string>Microsoft.Security#CA2101</string>
                        <string>Microsoft.Security#CA2121</string>
                        <string>Microsoft.Security#CA2126</string>
                        <string>Microsoft.Security#CA2124</string>
                        <string>Microsoft.Usage#CA2209</string>
                        <string>Microsoft.Design#CA2210</string>
                        <string>Microsoft.Design#CA1014</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CustomPolicies.FxCopDeltaPolicy.Properties.Settings>
    </userSettings>
</configuration>